<div id="about">
    <%-include('partials/color.ejs')%>
    <!--about content-->
    <div id="about-content">
        <div class="about-header">
            Sobre <span class="color">Mi</span>
            <span class ="header-caption">Conoce<span class="color">me.</span></span>
        </div>
        <div class="about-main">
    <div class="about-first-paragraph wow">
    <!--about description-->
       <span class="about-first-line">
            Soy un creativo 
            <span class="color">Desarollador web</span>
             Vivo actualmente en Cordoba Argentina. </span>
             <br>
       <span class="about-second-line">Hola soy Franklyn, Tengo 34 años de edad Venezolano, Hace años decidi comenzar mi Mundo en la programacion, Soy Autodidacta, persistente y responsable en lo que hago
         durante mi experiencia como desarrollador Web , he adquirido las habilidades y conocimientos necesarios para que tu proyecto sea un éxito. Disfruto cada paso mientras trabajo.
    </span>
    <!--div class="cv">
        <a href="#"><button>Download <span class="colors">CV</span></button></a>
    </div-->
    </div>
    <!--about picture-->
    <div class="about-img">
        <img src="images/about.jpg" alt="Your Image">
    </div>
    </div>

    </div>
    <!--services start-->
    <div id="services">
        <%-include('partials/color.ejs')%>
    <!--services header-->
            <div class="services-heading wow">
                <span class="color">Mis</span> Servicios
            </div>
    <!--services header end-->
    <!--services content-->
            <div class="services-content">
                   <div class="service-one service wow">
                       <div class="service-img">
                       <img src="images/coding.png" alt="service-one">
                       </div>
                       <div class="service-description">
                        <h2>Diseño Web</h2>
                        <p>Variacion de estilos adaptados a tu empresa, totalmente responsive, aprovecha la evolucion de las paginas web para tu marketing
                            , diseños actualizados <span class="color"> sin costo Inicial</span></p>
                       </div>
                   </div>
                   <div class="service-two service wow">
                       <div class="service-img">
                       <img src="images/instagram.png" alt="service-two">
                       </div>
                       <div class="service-description">
                        <h2>Social Media</h2>
                        <p>Ademas ayudamos a crecer tu empresa mediante las redes sociales, publicidad, te enseñare tecnicas que te sorprenderan</p>
                       </div>
                   </div>
                   <div class="service-three service wow">
                    <div class="service-img">
                       <img src="images/bulb.png" alt="service-three">
                    </div>
                    <div class="service-description">
                        <h2>Diseños creativos</h2>
                        <ul>
                            <li>Diseños minimalistas</li>
                            <li>Diseños con efectos sorpresas y desplazamientos</li>
                            <li>Diseños retros</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    <!--services content end-->
    <!--services end-->
    <div id="skills">
        <div class="skills-header">
             Mis <span class="color"> Habilidades</span>
        </div>
        <div class="skills-content " style="text-align: center;">
            
            <div class="skill-html skill">
                <div class="skill-text">
            <div class="html">
                HTML
            </div>
                </div>
            <div class="html-prog wow prog">
         <div class="html-progress wow">95%</div>
            </div>
            </div>

            <div class="skill-html skill">
                <div class="skill-text">
            <div class="html">
                SQL
            </div>
                </div>
            <div class="html-prog wow prog">
         <div class="html-progress wow">60%</div>
            </div>
            </div>

            <div class="skill-html skill">
                <div class="skill-text">
            <div class="html">
              Javascript
            </div>
                </div>
            <div class="html-prog wow prog">
         <div class="js-progress wow">80%</div>
            </div>
            </div>
            <div class="skill-html skill">
                <div class="skill-text">
            <div class="html">
                Css
            </div>
                </div>
            <div class="html-prog wow prog">
         <div class="adobe-progress wow">83%</div>
            </div>
            </div>
            <div class="skill-html skill">
                <div class="skill-text">
            <div class="html">
                PHP
            </div>
                </div>
            <div class="html-prog wow prog">
         <div class="php-progress wow">50%</div>
            </div>
            </div>
            <div class="skill-html skill">
                <div class="skill-text">
            <div class="html">
                Git Hub
            </div>
                </div>
            <div class="html-prog wow prog">
         <div class="jquery-progress wow">70%</div>
            </div>
            </div>
            <div class="skill-html skill">
                <div class="skill-text">
            <div class="html">
                Boostrap
            </div>
                </div>
            <div class="html-prog wow prog">
         <div class="jquery-progress wow">85%</div>
            </div>
            </div>
        </div>
    </div>