<div class="blog-header"> Blogs</span>
    <span class ="header-caption"> Algo mas <span class="color"> de Mi.</span></span></div>
    <div class="blog-content">
         <div class="blogs">
             <a href="#">
             <div class="img">
                 <img src="images/post-one.jpg" alt="blog-one">
                <div class="blog-date">8 May</div>
             </div>
             <div class="blog-text">
                 <h3>Familia el motor de mis dias</h3>
                 <p>Ellas son quienes siempre me motivan a dar lo mejor de mi, el amor y calor de familia es como un rico cafe.</p>
             </div></a>
         </div>      
         <div class="blogs">
            <a href="#">
            <div class="img">
                <img src="images/post-two.jpg" alt="blog-two">
                <div class="blog-date">16 Jan,20</div>
            </div>
            <div class="blog-text">
                <h3>Codigo pero no llaves</h3>
                <p>Aunque adoro las motos no se usar una llave allem o un destornillador</p>
            </div></a>
        </div>      
        <div class="blogs">
            <a href="#">
            <div class="img">
                <img src="images/post-three.jpg" alt="blog-three">
                <div class="blog-date">30 Nov,19</div>
            </div>
            <div class="blog-text">
                <h3>Amor al Cafe</h3>
                <p>Uno de los mejores amigos para pensar y programar sin duda un buen cafe, un buen cafe hara que tu codigo fluya como el rio</p>
            </div></a>
        </div>
        <div class="blogs">
            <a href="#">
            <div class="img">
                <img src="images/post-four.jpg" alt="blog-four">
                <div class="blog-date">6 Jul,19</div>
            </div>
            <div class="blog-text">
                <h3>Mi primera linea de codigo</h3>
                <p>No se si todos lo hacen pero cuando inicie en la programacion quise guardar la imagen de mi primer linea de codigo, pense en algun dia compartirla.</p>
            </div></a>
        </div>  
        <div class="blogs">
            <a href="#">
            <div class="img">
                <img src="images/post-five.jpg" alt="blog-five">
                <div class="blog-date">1 Jun,19</div>
            </div>
            <div class="blog-text">
                <h3>Comida Amor y codigo</h3>
                <p>Una mente bien alimentada sin duda traera las mejores ideas para plasmar sobre tu codigo</p>
            </div></a>
        </div>  
        <!--div class="blogs">
            <a href="#">
            <div class="img">
                <img src="images/post-six.jpg" alt="blog-six">
                <div class="blog-date">28 Feb,19</div>
            </div>
            <div class="blog-text">
                <h3>Business Trip</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo tempora dolorum fuga ratione, unde, 
                    ex quaerat iste numquam nemo nihil nobis rem sint quia recusandae dignissimos quos ut rerum nam.</p>
            </div></a>
        </div-->        
    </div>