<div class="contact-header">Contacta<span class="color">Me</span>
    <div class="contact-header-caption"> <span class="color"> Ponerse </span> En Contacto.</div></div>
    <div class="contact-content">
        <!--Contact form-->
         <div class="contact-form">
            <div class="form-header">
                Escribeme
            </div>
        <form id="formulario" class="formulario">
            <div class="input-line">
                <input name="nombre" id="name" type="text" placeholder="Nombre" required class="input-name"> 
                <input name="email" id="email" type="email" required placeholder="Escriba su Correo Electrónico" class="input-name">   
            </div>
            <input type="text" id="subject" placeholder="Tema" class="input-subject">
            <textarea id ="body" class="input-textarea" placeholder="message"></textarea>
            <button id="submit" type="submit" class="boton"> Enviar WhatsApp</button>
        </form>
        </div>
        <!--Contact form-->
        <!--Contact information-->
         <div class="contact-info">
            <div class="contact-info-header">
                Informacion de contacto
            </div>
            <div class="contact-info-content">
            <div class="contect-info-content-line">
                <img src="./images/icon-name.png" class="icon" alt="name-icon">
                <div class="contact-info-icon-text">
                    <h6>Nombre</h6>
                    <p>Urdaneta Franklyn</p>
              </div>
            </div>
            <div class="contect-info-content-line">
              <img src="./images/icon-location.png" class="icon" alt="location-icon">
              <div class="contact-info-icon-text">
                  <h6>Ubicacion</h6>
                  <p>Cordoba, ARGENTINA</p>
            </div>
          </div>
          <div class="contect-info-content-line">
              <img src="./images/icon-phone.png" class="icon" alt="phone-icon">
              <div class="contact-info-icon-text">
                  <h6>Llamar</h6>
                  <p>+543516863486</p>
            </div>
          </div>
          
          <div class="contect-info-content-line">
              <img src="./images/icon-email.png" class="icon" alt="email-icon">
              <div class="contact-info-icon-text">
                  <h6>Email</h6>
                  <p>urdanetafranklyn@gmail.com</p>
            </div>
          </div>
          