<div id="portfolio">
    <%-include('partials/color.ejs')%>
    <div class="portfolio-header"> <span class="color"> Mi </span> Portfolio
    <span class ="header-caption"> Algo de mi <span class="color"> Trabajo</span></span></div>
     <div id="portfolio-content">
         <div class="portfolio portfolio-first">
             <div class="portfolio-image">
                <img src="images/portfolio-first.jpg" alt="portfolio-first">
             </div>
             <div class="portfolio-text">
                 <h2>Aplicacion con NodeJs</h2>
                 <p>Mi primera aplicacion con NodeJs , express ejs heroku, aprendiendo cada dia hermosos framework</p>
                 <div class="button"><a href="https://unnovatoandshes.herokuapp.com/" target="_blank"><button><span class="index"> View Project<i class="gg-arrow-right"></i></span></button></a></div>
             </div>
         </div>
         <div class="portfolio portfolio-second">
            <div class="portfolio-image">
                <img src="images/portfolio-second.jpg" alt="portfolio-second">
            </div>
            <div class="portfolio-text">
                <h2>Diseño Web</h2>
                <p>Pagina responsive, uso de sliders typerwrite google location, algo simple pero al grano del cafe.</p>
                <div class="button"><a href="https://lenguajeswebvsnovato.000webhostapp.com/" target="_blank"><button><span class="index"> View Project<i class="gg-arrow-right"></i></span></button></a></div>
            </div>
        </div>
     
        <div class="portfolio portfolio-third">
            <div class="portfolio-image">
                <img src="images/portfolio-third.jpg" alt="portfolio-third">
            </div>
            <div class="portfolio-text">
                <h2>Panel de control web</h2>
                <p>Proyecto en curso, consumo de api carga de tablas, uso de modo nocturno mediante javascript herramientas de comodidades al usuario</p>
                <div class="button"><a href="#"><button><span class="index"> View Project<i class="gg-arrow-right"></i></span></button></a></div>
            </div>
        </div>
        <div class="portfolio portfolio-fourth">
            <div class=" portfolio-image">
                <img src="images/portfolio-fourth.jpg" alt="portfolio-fourth">
            </div>
            <div class="portfolio-text">
                <h2>Este espacio es para tu empresa...</h2>
                <p>Doy lo mejor de mi en cada pagina que desarollo, tu tiempo vale</p>
                <div class="button"><a href="#"><button><span class="index"> View Project<i class="gg-arrow-right"></i></span></button></a></div>
            </div>
        </div>
         </div>